// Add your own custom styles here
.header
{
    border-bottom: 1px solid gray;
    padding-top : 1rem;
    padding-bottom: 1rem;
}

section
{
    padding-top: 4em;
}

.navbar-brand img
{
    width: 130px;
    padding-left: 1rem;
}

#nav-menu
{
    max-width: 1280px;
}

#nav-menu li
{
    margin: 0;
    margin-right: 3rem;
}

#nav-menu li .nav-link
{
    padding: 0;
}

select
{
    padding-right: 1.5rem;
}

//리스트 폭 사이즈 조정

.row
{
    width: 100%;
    margin: auto;
}

//게시글 라인 폭 조정
.row > *
{
 padding: 0;
}

.cs-listRow
{
    width:100%;
    margin: auto;
}

//블로그 카드형 디자인
.cs-blogCard
{
    border: 1px solid #ececec;
    border-radius: 10px;
    padding:10px;
}

.row > div:nth-child(odd) .cs-blogCard
{
    margin-right:10px;
}

//태그 달 경우 태그 모양 처리
.cs-tagbox
{
    background-color: #ececec;
    border-radius: 10px;
    padding : 2px 10px;
    font-size: 12px;
    margin-right: 5px;
}

.cs-readMoreBox
{
    width: 100%;
    text-align: right;
}

//요약글 스타일
.cs-summaryText
{
    color:#959595;
}

//카테고리및 태그 박스
.cs-taglistDiv-upside
{
    display: inline-block;
}

.cs-taglistDiv-upside
{
    display: inline-block;
}

.cs-taglistDiv
{
    padding-left: 30px;
    width: 20%;
}

@media (min-width: 1280px)
{
    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .xl\:cs-col-8
    {
        width: 80%;   
    }
}

@media (min-width: 1280px)
{
    .navbar {
        max-width: 100%;
    }
    #nav-menu
    {
        max-width: 1280px;
    }
}


